body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
    text-align: center;
    padding-top: 30px;
    background-image: url(../assets/background.png);



}

h1 {
    color: white;
    padding: 12px;
    font-size: 3.6rem;
}

h3 {
    padding: 10px;
    color: #CC0000;
    position: relative;
    top: 10px;
}

.grid-cont {
    display: grid;
    grid-template-columns: 350px 200px 210px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: #3B4CCA;
    padding: 10px;
    margin-top: 10px;
    text-align: left;
}

.grid-cont:hover {
    background-color: black;
}

.grid-cont img {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #CC0000;
    height: 210px;
    border-radius: 10px;
}


#btn {
    background-color: #FFDE00;
    height: 55px;
    border-radius: 15px;
    color: #3B4CCA;
    font-weight: bold;
    font-size: 1.6rem;
    position: relative;
    bottom: 50px;
}

#btn:hover {
    background-color: #3B4CCA;
    color: #FFDE00;
}

#caught {
    background-color: #3B4CCA;
    height: 55px;
    width: 175px;
    border-radius: 15px;
    color: #FFDE00;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    bottom: 80px;
    right: 340px;


}

#caught:hover {
    background-color: #FFDE00;
    color: #3B4CCA;
}

button.mark-btn {
    background-color: #3B4CCA;
    border-radius: 10px;
    color: white;
    font-size: .7rem;
    max-height: 25px;
}

button.mark-btn2 {
    background-color: green;
    border-radius: 10px;
    color: white;
    font-size: .7rem;
    max-height: 25px;
}


button.mark-btn:hover {
     background-color: green;
}

button.mark-btn2:hover {
     background-color: #CC0000;
}


.name {
    color: red;
    font-weight: bold;
}

.hide-me {
    display: none;
    visibility: hidden;
}

.hide-me2 {
    display: none;
    visibility: hidden;
}


.lower {
    text-transform: lowercase;
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}

.NewClass {
    background-image: url(../assets/pokeball.png);
    background-repeat: no-repeat;
    background-position: 50% 75%;
}

html {
    background-image: url(../assets/background.png);
}

/* datatables styling */
ul.pagination {
    position: relative;
    top: 50px;
}

audio#player {
    display: none;
    bottom: 630px;
    right: 1080px;
    max-width: 100px;
}

.custom-select-sm {
    font-size: 65%;
}